In [1]:
import csv
import os
import shutil

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Separa em arquivos

In [2]:
# Define the input and output file names
input_filename = "putty_15_09.csv"
output_dir = "EXP0/"
filename = None

# Initialize flags to control whether to write lines to the output file
writing_enabled = False
iteration = 0

# Open the input and output files
with open(input_filename, "r") as input_file:
    # Iterate through lines in the input file
    for line in input_file:
        # Check if the line contains the "---" symbol to start writing
        if "Filename: " in line:
            filename = line.strip("Filename: ")
            filename = filename.strip("\n")
            continue  # Skip this line
        # Check if the line contains the "---" symbol to start writing
        if "---" in line:
            writing_enabled = True

            # Create new file
            output_filename = output_dir + filename + f'_{iteration}.csv'
            output_file = open( output_filename, "w")
            print(output_filename)

            continue  # Skip this line
        # Check if the line contains the "+++" symbol to stop writing
        elif "+++" in line:
            writing_enabled = False
            iteration = iteration + 1
            continue  # Skip this line
        # If writing is enabled, write the line to the output file
        if writing_enabled:
            output_file.write(line)

EXP0/1.10_10_0.csv
EXP0/1.10_10_1.csv
EXP0/1.10_10_2.csv
EXP0/1.10_10_3.csv
EXP0/1.10_10_4.csv
EXP0/1.10_10_5.csv
EXP0/1.10_10_6.csv
EXP0/1.10_10_7.csv
EXP0/1.10_10_8.csv
EXP0/1.10_10_9.csv
EXP0/1.20_10_10.csv
EXP0/1.20_10_11.csv
EXP0/1.20_10_12.csv
EXP0/1.20_10_13.csv
EXP0/1.20_10_14.csv
EXP0/1.20_10_15.csv
EXP0/1.20_10_16.csv
EXP0/1.20_10_17.csv
EXP0/1.20_10_18.csv
EXP0/1.20_10_19.csv
EXP0/1.30_10_20.csv
EXP0/1.30_10_21.csv
EXP0/1.30_10_22.csv
EXP0/1.30_10_23.csv
EXP0/1.30_10_24.csv
EXP0/1.30_10_25.csv
EXP0/1.30_10_26.csv
EXP0/1.30_10_27.csv
EXP0/1.30_10_28.csv
EXP0/1.30_10_29.csv
EXP0/1.10_20_30.csv
EXP0/1.10_20_31.csv
EXP0/1.10_20_32.csv
EXP0/1.10_20_33.csv
EXP0/1.10_20_34.csv
EXP0/1.10_20_35.csv
EXP0/1.10_20_36.csv
EXP0/1.10_20_37.csv
EXP0/1.10_20_38.csv
EXP0/1.10_20_39.csv
EXP0/1.20_20_40.csv
EXP0/1.20_20_41.csv
EXP0/1.20_20_42.csv
EXP0/1.20_20_43.csv
EXP0/1.20_20_44.csv
EXP0/1.20_20_45.csv
EXP0/1.20_20_46.csv
EXP0/1.20_20_47.csv
EXP0/1.20_20_48.csv
EXP0/1.20_20_49.csv
EXP0/1.30_20_50.csv
EXP0/1.30_20_51.csv
EXP0/1.30_20_52.csv
EXP0/1.30_20_53.csv
EXP0/1.30_20_54.csv
EXP0/1.30_20_55.csv
EXP0/1.30_20_56.csv
EXP0/1.30_20_57.csv
EXP0/1.30_20_58.csv
EXP0/1.30_20_59.csv
EXP0/1.10_30_60.csv
EXP0/1.10_30_61.csv
EXP0/1.10_30_62.csv
EXP0/1.10_30_63.csv
EXP0/1.10_30_64.csv
EXP0/1.10_30_65.csv
EXP0/1.10_30_66.csv
EXP0/1.10_30_67.csv
EXP0/1.10_30_68.csv
EXP0/1.10_30_69.csv
EXP0/1.20_30_70.csv
EXP0/1.20_30_71.csv
EXP0/1.20_30_72.csv
EXP0/1.20_30_73.csv
EXP0/1.20_30_74.csv
EXP0/1.20_30_75.csv
EXP0/1.20_30_76.csv
EXP0/1.20_30_77.csv
EXP0/1.20_30_78.csv
EXP0/1.20_30_79.csv
EXP0/1.30_30_80.csv
EXP0/1.30_30_81.csv
EXP0/1.30_30_82.csv
EXP0/1.30_30_83.csv
EXP0/1.30_30_84.csv
EXP0/1.30_30_85.csv
EXP0/1.30_30_86.csv
EXP0/1.30_30_87.csv
EXP0/1.30_30_88.csv
EXP0/1.30_30_89.csv

# Converte os dados para SI

In [3]:
def multiply_and_add_column(input_file, output_file, column_name, multiply_constant, add_constant):
    # Read the input CSV file
    df = pd.read_csv(input_file)

    # Multiply the column values by the multiply_constant and add the add_constant
    df[column_name] = df[column_name] * multiply_constant + add_constant

    # Write the modified data to the output CSV file
    df.to_csv(output_file, index=False)

    print(f"Column '{column_name}' has been multiplied by {multiply_constant} and added with {add_constant} successfully!")


# Iterate over the files in the folder
for filename in os.listdir('EXP0/'):
    file_path = 'EXP0/' + filename
    multiply_and_add_column(file_path, file_path, 'temp', 165.0/65535.0, -40)
    multiply_and_add_column(file_path, file_path, 'humi', 100.0/65535.0, 0)

    channel_list = ["tgs2600","tgs2603","tgs2611","tgs2602","micsD","micsH","micsA"]
    for i in channel_list:
        multiply_and_add_column(file_path, file_path, i, 1.2/pow(2,23), 0)

Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!

Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsA' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'temp' has been multiplied by 0.0025177386129549098 and added with -40 successfully!
Column 'humi' has been multiplied by 0.0015259021896696422 and added with 0 successfully!
Column 'tgs2600' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2603' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2611' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'tgs2602' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsD' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!
Column 'micsH' has been multiplied by 1.430511474609375e-07 and added with 0 successfully!

KeyboardInterrupt:

# Print time series

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors


### Print in differnt axes
def plot_data_from_csv(csv_file, column_list, graph_name):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(csv_file)
    
    # Extract the header names as time vector and data series
    time_vector = 'timestamp'
    
    # Create the figure and axis objects
    fig, ax = plt.subplots(len(column_list), figsize=(15,30))
    color_names = ['blue', 'orange', 'green', 'red', 'purple', 'brown', 'pink', 'gray']
    
    ax[0].set_title(graph_name)
    for i in range(len(column_list)):
        ax[i].plot(df[time_vector], df[column_list[i]], color=color_names[i % len(color_names)])
        ax[i].set_ylabel(column_list[i])
        
    ax[i].set_xlabel('Time')
    # Show the plot
    plt.show()

#### Print in the same axes
# def plot_data_from_csv(csv_file, column_list, graph_name):
#     # Read the CSV file into a DataFrame
#     df = pd.read_csv(csv_file)
    
#     # Extract the header names as time vector and data series
#     time_vector = 'timestamp'
    
#     # Create the figure and axis objects
#     fig, ax = plt.subplots(figsize=(15, 6))  # Create a single set of axes
    
#     ax.set_title(graph_name)
#     ax.set_xlabel('Time')
    
#     for i in range(len(column_list)):
#         ax.plot(df[time_vector], df[column_list[i]], label=column_list[i])
    
#     ax.set_ylabel('Values')
#     ax.legend(loc='upper right')  # Add a legend to distinguish curves
    
#     # Show the plot
#     plt.show()
    
channel_list = ["tgs2600","tgs2603","tgs2611","tgs2602","micsD","micsH","micsA","temp","humi"]

for filename in os.listdir('EXP0/'):
    file_path = 'EXP0/' + filename
    plot_data_from_csv(file_path, channel_list, file_path)